.upload-box {

  border-radius: 10px;
  border: 2px dotted #FFFFFF;
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 200px;
}

.upload-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;

}
.preview-image{
  width: 100%;
  height: 100%;
  max-width:473px;
  max-height:504px;
  border-radius: 12px
}

.movie-title {
  margin-top: 10px;
}

.margin-t-80 {
  margin-top: 80px;
}

.file-input-style {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0px !important;
  cursor: pointer;
}

.preview-image-styles {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.is-invalid {
  border: 1px solid #EB5757 !important;
}

@media (min-width: 1250px) {
  .upload-box {
    min-width: 473px;
    min-height: 504px;
    max-width: 473px;
    max-height: 504px;
    border-radius: 10px;
    border: 2px dotted #FFFFFF;
  }

  .form-space {
    padding: 120px 0 !important;
  }

  .movie-title {
    margin-top: 0 !important;
  }

  .custom-container-space {
    padding: 120px !important;
  }

  .bottom-24 {
    margin-bottom: 24px !important;
  }

  .movie-title {
    width: 362px !important;
    height: 45px !important;
    border-radius: 10px;
  }

  .publish-year {
    width: 216px;
    height: 45px;
    margin-bottom: 64px !important;
  }

  .cancel-button {
    width: 167px;
    height: 56px;
    padding: 16px 55px;
    justify-content: center;
    align-items: center;
    margin-right: 16px !important;
  }

  .submit-button {
    width: 179px;
    height: 56px;
    padding: 16px 59px;
    justify-content: center;
    align-items: center;
  }
}