:root {
  --bs-border-width: 0 !important;
  --bs-form-invalid-border-color: #EB5757;
  --bs-border-radius: 10px !important;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.btn {
  border-radius: 24px;
}

/* Button styles */
.btn-primary-custom {
  background-color: #2bd17e !important;
  border: unset !important;
  border-radius: 10px !important;
}

.btn-md {
  min-width: 179px;
  min-height: 56px
}

.btn-danger-custom {
  background-color: #eb5757 !important;
  border: unset !important;
  border-radius: 10px !important;
}

.btn-transparent {
  background-color: #00000000 !important;
  border: 1px solid #fff !important;
  border-radius: 10px !important;
}

/* Input styles */
.custom-input-bg {
  background-color: #224957 !important;
  /* border: unset !important; */
  color: #fff !important;
}

/* Typography styles */
h1,
.h1 {
  font-family: Montserrat;
  font-size: 64px !important;
  font-weight: 600 !important;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
}

h2,
.h2 {
  font-family: Montserrat;
  font-size: 48px !important;
  font-weight: 600 !important;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}

h3,
.h3 {
  font-family: Montserrat;
  font-size: 32px !important;
  font-weight: 600 !important;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
}

h4,
.h4 {
  font-family: Montserrat;
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

h5,
.h5 {
  font-family: Montserrat;
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
}

h6,
.h6 {
  font-family: Poppins;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

/* Body text styles */
.large-body {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.regular-body {
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 24px !important;
  letter-spacing: 0em !important;
}

.small-body,
* {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.extra-small-body {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

/* Caption styles */
.caption {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

/* Grid and Spacing */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Define grid classes */
.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

/* Define spacing classes */
.mt-8 {
  margin-top: 8px;
}

.custom-input {
  color: #c3c8d4;
  border: unset;

}

/* Placeholder style for email input */
.custom-input::placeholder {
  color: rgba(255, 255, 255, 0);
}

.form-control:valid {
  background-color: #224957 !important;
  /* border: unset !important; */
  color: #fff;
  height: 45px;
}


.form-control::placeholder,
.form-control:focus,
.form-control:active {
  color: #fff !important;
}

.cursor-pointer {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity here */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-container {
  z-index: 10000;
  /* Ensure spinner stays on top of the overlay */
}

.mt--2 {
  margin-top: -0.8rem !important;
}

@media (min-width: 768px) {
  .order-md-0 {
    order: 0 !important;
  }
}

.form-control {
  font-size: 14px !important;
  height: 45px;
  --bs-border-color: #00000000;
}

.remember-me-checkbox .form-check-input {
  background-color: #224957;
  border: unset;
  height: 17px;
  width: 18px;
  border-radius: 5px;
  margin-right: 8px;
}