.custom-pagination .page-item {
  padding: 0px 5px;
}

.custom-pagination .page-item .page-link {
  background-color: #092C39 !important;
  border: unset;
  color: #fff;
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 24px !important;
  letter-spacing: 0em !important;
  border-radius: 4px;
  padding: 4px 13px;
}

.custom-pagination .page-item:first-child .page-link,
.custom-pagination .page-item:last-child .page-link {
  background-color: unset !important;
}

.custom-pagination .page-item.active .page-link {
  background-color: #2BD17E !important;
  color: #fff !important;
}

.movie-card:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%), rgba(8, 41, 53, 0.55);
  backdrop-filter: blur(100px);

}

.movie-card {
  border: unset;
  flex-shrink: 0;
  background: #092C39;
  padding: 8px 8px 16px 8px;
  border-radius: 12px;
  min-height: 504px;
  gap: 16px;
  backdrop-filter: blur(100px);

}

.movie-card .card-title {
  margin-bottom: 8px;
  margin-top: 16px;
}

.card-text {
  margin-bottom: 16px;
}


.logout-icon, .plus-icon{
  padding-left: 12px;
}
.card-title,
.card-text {
  margin-left: 8px;
}

.next span,
.prev span {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}

.g-custom {
  --bs-gutter-y: 24px;
  --bs-gutter-x: 24px;
}

@media (min-width:1250px) {
  .movie-head {
    padding: 120px !important;
  }

  .custom-spacing {
    padding: 0 120px !important;
    padding-bottom: 120px !important;
  }
}


.pagination-padding {
  padding-bottom: 220px;
}

.empty-title {
  color: #FFF;

  text-align: center;
  /* H2 */
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  /* 116.667% */
  margin-bottom: 40px;
}

.add-movie-button {
  padding: 16px 28px !important;
  align-items: flex-start;
  gap: 5px;
  border-radius: 10px !important;
  background: var(--primary, #2BD17E);
}